 font-family: Arial;
    background-image: url("https://wallpaperaccess.com/full/1924507.jpg");
    margin-left: 30;
}


h1
{
    color: black;
    text-shadow: yellow;
    font-size: 50px;
    text-align: center;
}


h2
{
    border: solid;
    border-radius: 20px;
    border-block-start-color: rgb(80, 17, 151);
    text-align: center;
}

@keyframes example {
    0%   {background-color: yellow;}
    25%  {background-color: yellowgreen;}
    50%  {background-color: orange;}
    75%  {background-color: purple;}
    100% {background-color: yellow;}
  }
  

 div {
    
    background-color: red;
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: infinite;
     margin: auto;
    width: 900px;
    list-style-type: circle;
    word-break: keep-all;
    position: center;
    text-align: center;
}


/*@keyframes pyton {
    0%  {left:0px; top:-100px;}
    25% {left:700px; top:-100px;}
    50% {left:700px; top:-750px;}
    75% {left:0px; top:-750px;}
    100% {left:0px; top:-100px;}
    
  }
  
  h4 {
    width: 100px;
    height: 100px;
    position:relative;
    animation-name: pyton;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-direction:alternate;
  }

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
    
  }
  
  h5 {
    width: 100px;
    height: 100px;
    position:relative;
    animation-name: spin;
    animation-duration:4s;
    animation-iteration-count: infinite;
  }
  */
/*div
{
    margin: auto;
    width: 10000px;
    list-style-type: circle;
    word-break: keep-all;
    position: center;
    text-align: center;
}
*/

